@model Acounting_basic.Models.Conta

@{
    ViewData["Title"] = "Detalhes da Conta";
    Layout = "_PrivateLayout";
}

<h1>Details</h1>

<div>
    <h4>Conta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo_conta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo_conta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saldo_Atual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saldo_Atual)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
